body {
    background-color: black;
    color: gray;
}

header, main, nav, footer {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/*main {*/
/*    width: 70%;*/
/*    margin: 0 auto;*/
/*}*/

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid orange;
    font-size: 2em;
    transition: 0.9s;
}

.currPage {
    border-bottom: 2px solid orange;
}

#me, #welcomeText {
    float: left;
}

#welcomeText {
    text-align: left;
}

table {
    margin: 0 auto;
    margin-top: 20px;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

iframe {
    display: block;
}

#contactForm {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

hr {
    width: 60%;
}

ul {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

ul li {
    margin-top: 10px;
}

.hobby {
    color: green;
}

footer {
    clear: left;
}