body {
    background-color: black;
    color: gray;
}

table {
    margin: 0px auto;
    margin-top: 40px;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong, .table-row {
    color: #0049FF;
    text-align: center;
}

#table-header, .table-row {
    background-color: #C0E8FF;
}

ul {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

#contactForm {
    margin-top: 40px;
    text-align: center;
}

header {
    font-family: "Rock Salt";
    text-shadow: 2px 1px purple;
}

header, nav {
    text-align: center;
}

nav a {
    color: gray;
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
}

nav a:hover, .current
{
    border-bottom: 2px solid #00FF3E;
    font-size: 2em;
    transition: 0.9s;
}

.hobby {
    color: orange;
}

hr {
    width: 60%;
}

main {
    text-align: center;
    margin-top: 40px;
}

#me img {
    border-radius: 50px;
}

#me, #welcomeText {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#welcomeText {
    text-align: left;
    font-size: 1.3em;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
    padding-right: 30px;
    color: white;
}

footer {
    text-align: center;
}

#csumbLogo, #footerText
{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

#footerText
{
    text-align: left;
}

footer {
    margin-top: 40px;
    clear: left;
}